@let size = 25;
@let myPlayerr = myPlayer();
@if (type() === 'INFLUENCE') {
  @if (nbInfluenceTokensByPlayersIds(); as nbTokensByIds) {
    <div class="flex flex-wrap gap-2">
      @for (nbTokenByPlayerId of nbTokensByIds | keyvalue; track $index) {
        @let isNotMyCard = player().id !== myPlayerr?.id;
        @let isMe = nbTokenByPlayerId.key === myPlayerr?.id;
        @if (nbTokenByPlayerId.value > 0) {
          @if (playersByPlayersIds().get(nbTokenByPlayerId.key); as player) {
            @let color = isLight(player.color) ? "#000" : "#fff";
            <button
              type="button" class="flex p-1 rounded-md max-w-32 items-center" [class.cursor-default]="isNotMyCard"
              [style.background-color]="player.color" [style.color]="color"
              (click)="openModal(isMe, player)"
            >
              <span class="truncate me-2">{{player.name}}</span>
              {{nbTokenByPlayerId.value}}
              <ins-token [size]="size" [color]="'#000'" [type]="'INFLUENCE'"/>
            </button>
          }
        }
      }
    </div>
  }
} @else {
  @if (nbShardTokensByPlayersIds(); as nbTokensByIds) {
    <div class="flex flex-wrap gap-2">
      @for (nbTokenByPlayer of nbTokensByIds | keyvalue; track $index) {
        @if (nbTokenByPlayer.value > 0) {
          @if (playersByPlayersIds().get(nbTokenByPlayer.key); as player) {
            @let color = isLight(player.color) ? "#000" : "#fff";
            <div class="flex p-1 rounded-md max-w-32 bg-[#000] text-white items-center">
              {{nbTokenByPlayer.value}}
              <ins-token [size]="size" [color]="'#000'" [type]="type()"/>
            </div>
          }
        }
      }
    </div>
  }
}

<dialog #giveMyTokenElementRef>
  <div class="flex flex-col gap-2">
    <div class="flex justify-between items-center">
      <h1 class="font-semibold text-xl">Donner mon jeton à </h1>
      <button title="Fermer la modale" class="cursor-pointer p-4" (click)="giveMyTokenElementRef.close()">x</button>
    </div>
    @if (myPlayerr) {
      @for (player of players() | withoutMyPlayer : myPlayerr; track player.id) {
        <ins-button class="w-full" [title]="'Donner un jeton à ' + player.name" [fullWidth]="true" (clicking)="giveMyToken(player.id)">
          {{player.name}}
        </ins-button>
      }
    }
  </div>
</dialog>

<dialog #giveTokenElementRef>
  <div class="flex flex-col gap-2">
    <div class="flex justify-between items-center">
      <h1 class="font-semibold text-xl">Rendre son jeton à </h1>
      <button title="Fermer la modale" class="cursor-pointer p-4" (click)="giveTokenElementRef.close()">x</button>
    </div>
    @if (playerToto(); as player) {
      <ins-button class="w-full" [title]="'Donner un jeton à ' + player.name" [fullWidth]="true" (clicking)="giveToken(player.id)">
        {{player.name}}
      </ins-button>
    }
  </div>
</dialog>

