@let size = 25;
@if (type() === 'INFLUENCE') {
  @if (nbInfluenceTokensByPlayersIds(); as nbTokensByIds) {
    <div class="flex flex-wrap gap-2">
      @for (nbTokenByPlayer of nbTokensByIds | keyvalue; track $index) {
        @if (nbTokenByPlayer.value > 0) {
          @if (playersByPlayersIds().get(nbTokenByPlayer.key); as player) {
            @let color = isLight(player.color) ? "#000" : "#fff";
            <div class="flex p-1 rounded-md max-w-32 items-center" [style.background-color]="player.color" [style.color]="color">
              <span class="truncate me-2">{{player.name}}</span>
              {{nbTokenByPlayer.value}}
              <ins-token [size]="size" [color]="'#000'" [type]="'INFLUENCE'"/>
            </div>
          }
        }
      }
    </div>
  }
} @else {
  @if (nbShardTokensByPlayersIds(); as nbTokensByIds) {
    <div class="flex flex-wrap gap-2">
      @for (nbTokenByPlayer of nbTokensByIds | keyvalue; track $index) {
        @if (nbTokenByPlayer.value > 0) {
          @if (playersByPlayersIds().get(nbTokenByPlayer.key); as player) {
            @let color = isLight(player.color) ? "#000" : "#fff";
            <div class="flex p-1 rounded-md max-w-32 bg-[#000] text-white items-center">
              {{nbTokenByPlayer.value}}
              <ins-token [size]="size" [color]="'#000'" [type]="type()"/>
            </div>
          }
        }
      }
    </div>
  }
}

