<ins-button [title]="'Valider l\'ordre des rôles'" (clicking)="saveRolesOrder()">Valider l'ordre des rôles</ins-button>
<div class="flex gap-2">
  <ul #roles class="flex flex-col gap-2">
    @for (role of playerRoles(); track role) {
      <li [id]="role" class="flex gap-2 items-center justify-between" draggable="true">
        <span class="ms-2 cursor-pointer">{{role}}</span>
        <div class="flex gap-2">
          <ins-button [title]="'Voir la description du role' + role" (clicking)="selectRole(role)">
            <i class="fa-regular fa-eye"></i>
          </ins-button>
        </div>
      </li>
    }
  </ul>
  <p>{{description()}}</p>
</div>
